.main-chat
  .main-chat__group-info
    .main-chat__group-info__information
      -# FixedMe:group-infoの枠からはみ出ないように直す
      .main-chat__group-info__information__group-name
      .main-chat__group-info__information__member-list
    = link_to "#", class: "main-chat__group-info__edit" do
      Edit
      -# ToDo:擬似要素に置き換える
  .main-chat__message-list
    .main-chat__message-list__message
      .main-chat__message-list__message__info
      .main-chat__message-list__message__text
  .main-chat__message-form
    %input.main-chat__message-form__input-text{:placeholder => "type a message"}
    %input.main-chat__message-form__semd-btn