.main-chat
  .main-chat__group-info
    .main-chat__group-info__information
      -# FixedMe:group-infoの枠からはみ出ないように直す
      .main-chat__group-info__information__group-name
      .main-chat__group-info__information__member-list
    .main-chat__group-info__edit
      Edit
      -# ToDo:擬似要素に置き換える
      -# ToDo:リンクつける
  .main-chat__message-list
  .main-chat__message-form