*{
  box-sizing: border-box;
}

// ToDo:最後にリファクタリングする(部分テンプレート含む、冗長な部分の修正)

$white: #ffffff;
$color-user-name: #253141;

html{
  height: 100%;
  
  body{
    height: 100%;

    .wrapper{
      overflow: hidden;
      height: 100%;
    
      @import "./side-bar";

      .main-chat{
        float: right;
        width : calc(100vw - 300px);
        height: 100%;

        &__group-info{
          background-color: #ffffff;
          height: 100px;
          padding-left: 40px;
          padding-right: 40px;
          display: flex;
          justify-content: space-between;
          overflow: hidden;

          &__information{
            margin-top: 35px;
            height: 100%;

            &__group-name::before{
              content: "TECH::EXPERT";
              font-size: 20px;
              color: #333333;
            }
            &__group-name{
              margin-bottom: 15px;
            }
            &__member-list::before{
              content: "Member : 佐藤嘉洋";
              font-size: 12px;
              color: #999999;
            }
          }
          &__edit{
            border: solid 1px #38aef0;
            text-decoration: none;
            color: #38aef0;
            line-height: 40px;
            height: 40px;
            width: 72px;
            margin-top: 28px;
            padding-left: 20px;
            padding-right: 20px;
          }
        }
        &__message-list{
          background-color: #fafafa;
          height: calc(100vh - 190px);
          padding-top: 35px;
          padding-left: 40px;

          &__message{
            margin-bottom: 46px;

            &__info::before{
              content: "佐藤嘉洋";
              color: #333333;
              font-weight: bold;
              font-size: 16px;
            }
            &__info::after{
              content: "2019/12/27(Fri)";
              color: #999999;
              font-size: 12px;
              padding-left: 10px;
            }
            &__info{
            padding-bottom: 12px;
            }
            &__text::before{
              content: "hello";
              color: #434A54;
              font-size: 14px;
            }
          }
        }
        &__message-form{
          background-color: #d2d2d2;
          height: 90px;
          padding-left: 40px;
          padding-right: 40px;
          display: flex;
          align-items: center;

          &__input-text{
            height: 50px;
            padding-left: 10px;
            padding-right: 10px;
          }
          &__send-btn{}
        }
      }
    }
  }
}